body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

a {
    text-decoration: none;
}

div {
    background-color: 
}

.header {
    background-color: #ff6600;
    width: 100%;
    position: relative;
}

.header-padding {
    padding: 2px;
}

.nav {
    display: inline;
}

.nav li {
    display: inline;
}

.login {
    position: absolute;
    margin-top: 3px;
    right: 8px;
}

.bold {
    font-weight: bold;
}

.brand {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.logo {
    border:1px solid #ffffff;
    vertical-align: middle;
}

.wrapper {
   width:83%;
   margin:8px auto;
}

.content {
    background-color: #f6f6ef;
    padding-top: 12px;
    padding-left: 10px;
    padding-bottom: 12px;
}
.upvote {
    background-image: url('images/grayarrow.gif');
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: top;
}

/*ol li {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px;
}*/

.meta-text {
    font-size: 8pt;
    color: #828282;
}

.news-title {
    display: inline-block;
}

.news-item a {
    font-size: 8pt;
    color: #828282;
}

a:hover {
    text-decoration: underline;
}

.news-item-number {
    vertical-align: top;
}

.news-item {
    margin-bottom: 10px;
}

.more {
    margin-left: 33px;
}

.more a {
    color: #828282;
}

.more a:hover{
    text-decoration: none;
}

.footer {
    border-top: 2px solid #ff6600;
    background-color: #f6f6ef;
    text-align: center;
}

.footerlinks {
    padding: 15px;
}

.footerlinks a {
    font-size: 8pt;
}

.search {
    color: #828282;
    padding-bottom: 15px;
}






