body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
}

.header {
    background-color: #ff6600;
    width: 80%;
    padding: 2px;
}

.nav {
    display: inline;
    width: 300px;
}

.nav li {
    display: inline;
}

.login {
    position: relative;
    display: inline-block;

}

.bold {
    font-weight: bold;
}

.brand {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

.logo {
    border:1px solid #ffffff;
    vertical-align: middle;
}

.wrapper{
   width:1349px;
   margin:0 auto;
}


